#------------------------------
#	Файл настройки сервера DeeX
#
#	07.02.2013
#	@version 4.2
#	@copyright BRANDER
#	@author  Deemon<a@dee13.ru>
#------------------------------

#Локальная кодировка
AddDefaultCharset utf-8


#AuthType Basic
#AuthName "Dee Private zone. Only for administrator!"
#AuthUserFile  /home/v3mode.store/www/.htpasswd
#require valid-user

php_flag register_globals off
php_flag safe_mode on
php_flag display_errors on
php_flag display_startup_errors on
php_value error_reporting 2047

php_flag allow_call_time_pass_reference 1
# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
php_value magic_quotes_gpc                0
#автоматическая регистрация переменных в глобальный массив
php_value register_globals                0
php_value session.auto_start              0
php_value mbstring.http_input             utf-8
php_value mbstring.http_output            utf-8
php_value mbstring.encoding_translation   0
php_value default_charset UTF-8
php_value mbstring.internal_encoding UTF-8
</IfModule>

#Главная страница каталога
DirectoryIndex index.php

#Включение функций перенаправления
RewriteEngine On
Options +FollowSymlinks

